.profile {
  padding: 74px 30px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.profile-form {
  padding: 110px 0 16px 0;
  display: flex;
  flex-direction: column;
  row-gap: 205px;
}

.profile-form__fieldset {
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.profile-form__field {
  display: flex;
  column-gap: 119px;
  border-bottom: 1px solid #e8e8e8;
  align-items: center;
  padding: 15px 0;
}

.profile-form__field:last-child {
  border: none;
}

.profile-form__label {
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  width: 141px;
  position: relative;
}

.profile-form__input {
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: right;
  width: 130px;
  outline: none;
  padding: 10px;
  border-radius: 4px;
}

.profile-form__input::placeholder {
  color: #a0a0a0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.profile-form__input:focus {
  outline: 1px solid #ff6838;
}

.profile_form__button {
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none;
  padding: 0;
  background-color: transparent;
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.profile_form__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.profile_form__button_inactive {
  color: #a0a0a0;
}

.profile_form__button_inactive:hover {
  cursor: default;
  opacity: 1;
}

.profile-form_error {
  color: #ee3465;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin: 30px 0 0 0;
  position: absolute;
  max-width: 260px;
}

.profile__button {
  color: #ee3465;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border: none;
  padding: 0;
  background-color: transparent;
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.profile__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 980px) {
  .profile {
    padding: 236px 30px 269px;
  }

  .profile-form {
    padding: 82px 0 16px 0;
  }

  .profile-form {
    row-gap: 195px;
  }
}

@media screen and (max-width: 560px) {
  .profile {
    padding: 70px 30px 40px;
  }

  .profile-form {
    padding: 65px 0 16px 0;
    display: flex;
    flex-direction: column;
    row-gap: 365px;
  }

  .profile-form__field {
    column-gap: 30px;
  }

  .profile_form__button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile-form__label {
    width: 120px;
  }

  .profile-form__input {
    width: 110px;
  }

  .profile-form__input:focus {
    outline: none;
  }
}
