.promo {
  background: #465dff url(../../images/promo.svg) no-repeat;
  background-position: center 82px;
  padding: 184px 0 224px 0;
  display: flex;
  justify-content: center;
}

.promo__title {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0;
  max-width: 730px;
  text-align: center;
  letter-spacing: -4%;
}

@media screen and (max-width: 568px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px;
    max-width: 320px;
  }
}
