.promo {
  background: #465dff url(../../images/promo.svg) no-repeat;
  background-position: center 82px;
  padding: 184px 70px 224px 70px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.promo__title {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0;
  max-width: 730px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 980px) {
  .promo {
    background-position: center 224px;
    padding: 326px 19px 342px 19px;
  }
}

@media screen and (max-width: 560px) {
  .promo {
    background-size: 248px 248px;
    background-position: center 142px;
    padding: 207px 10px 246px 10px;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
    max-width: 320px;
  }
}
