.search-form {
  padding: 80px 70px 0;
}

.search-form__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e8e8e8;
}

.search-form__form {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.search-form__input {
  background-color: #f9f9f9;
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  caret-color: #ff6838;
  outline: none;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 0 22px;
  min-height: 48px;
}

.search-form__input::placeholder {
  color: #a0a0a0;
}

.search-form__input:focus {
  outline: 1px solid #ff6838;
}

.search-form__button {
  background-color: #ff6838;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  border: none;
  border-radius: 40px;
  padding: 0 18px;
  height: 44px;

  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.search-form__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 980px) {
  .search-form {
    padding: 80px 30px 0;
  }
}

@media screen and (max-width: 560px) {
  .search-form {
    padding: 80px 14px 0;
  }

  .search-form__input {
    font-size: 12px;
    padding: 0 16px;
  }

  .search-form__wrapper {
    row-gap: 45px;
  }
}
