.filter-checkbox {
  align-self: center;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch__input {
  display: none;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebebeb;
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch__slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch__input:checked + .switch__slider::before {
  background-color: #2be080;
}

.switch__input:checked + .switch__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.filter-checkbox__param {
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
