.form-field {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form-field__label {
  color: #a0a0a0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.form-field__input {
  border: none;
  padding: 15px;
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.form-field__input:focus {
  outline: 1px solid #ff6838;
}
